name: build-site

on:
  push:
    branches:
      - main

jobs:

  build-site:
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/master'
    steps:

      - name: 'Checkout'
        uses: actions/checkout@master

      - name: 'set CNAME'
        run: |
          echo "builddocs.nosqlbench.io" > site/static/CNAME

      - name: 'Build and Deploy Static Site'
        uses: shalzz/zola-deploy-action@master
        env:
          BUILD_DIR: ./site
          GITHUB_TOKEN: ${{ secrets.NBDROID_TOKEN }}
